stages:
  - build
  - triggers
  - dockerhub
  
docker:latest:
  stage: build
  only: 
    - master
  script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
    - docker build --pull --force-rm=true --squash 
        --build-arg VCS_REF=`git rev-parse --short HEAD` 
        --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` 
        --tag=${CI_REGISTRY}/${CI_PROJECT_PATH} .
    - docker push ${CI_REGISTRY}/${CI_PROJECT_PATH}

docker:release:
  stage: build
  only:
    - tags
  script:
    - docker login -u gitlab-ci-token -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
    - docker build --pull --force-rm=true --squash
        --build-arg VCS_REF=`git rev-parse --short HEAD` 
        --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` 
        --tag=${CI_REGISTRY}/${CI_PROJECT_PATH}:${CI_COMMIT_REF_NAME} .
    - docker push ${CI_REGISTRY}/${CI_PROJECT_PATH}:${CI_COMMIT_REF_NAME}

alpine-redis:
  stage: triggers
  except:
    - tags
  before_script:
    - apk add --update --no-cache curl
  script:
    - curl -s -X POST -F token=${REDIS_TOKEN} -F ref=master https://gitlab.timmertech.nl/api/v4/projects/2/trigger/pipeline > /dev/null

alpine-glibc:
  stage: triggers
  except:
    - tags
  before_script:
    - apk add --update --no-cache curl
  script:
    - curl -s -X POST -F token=${GLIBC_TOKEN} -F ref=master https://gitlab.timmertech.nl/api/v4/projects/3/trigger/pipeline > /dev/null
   
alpine-postgres:
  stage: triggers
  except:
    - tags
  before_script:
    - apk add --update --no-cache curl
  script:
    - curl -s -X POST -F token=${POSTGRESQL_TOKEN} -F ref=master https://gitlab.timmertech.nl/api/v4/projects/4/trigger/pipeline > /dev/null

dockerhub:latest:
  stage: dockerhub
  except:
    - tags
  before_script:
    - apk add --update --no-cache curl
  script:
    - curl -s -H 'Content-Type:application/json' --data '{"build":true}' -X POST https://registry.hub.docker.com/u/datacore/alpine-base/trigger/2db3c4d8-240d-44ef-8191-1d7569faf76c/
  when: manual
