stages:
  - build
  - deploy
  - triggers
  - clean
  
build:
  stage: build
  tags: 
    - shell
  script:
    - docker build --pull --force-rm=true --tag=$(cat REPOSITORY)/${CI_PROJECT_PATH} .

release:
  stage: build
  tags: 
    - shell
  only:
    - tags
  script:
    - docker build --pull --force-rm=true --tag=$(cat REPOSITORY)/${CI_PROJECT_PATH:$(cat VERSION) .

deploy:
  stage: deploy
  tags:
    - shell
  script:
    - docker push $(cat REPOSITORY)/${CI_PROJECT_PATH}

deploy-release:
  stage: deploy
  tags:
    - shell
  only:
    - tags
  script:
    - docker push $(cat REPOSITORY)/${CI_PROJECT_PATH}:$(cat VERSION)
    
clean:
  stage: clean
  tags:
    - shell
  script:
    - docker rmi $(cat REPOSITORY)/${CI_PROJECT_PATH}

clean-release:
  stage: clean
  tags:
    - shell
  only:
    - tags
  script:
    - docker rmi $(cat REPOSITORY)/${CI_PROJECT_PATH}:$(cat VERSION)
    
trigger_redis:
  stage: triggers
  tags:
    - shell
  script:
    # Trigger alpine-redis
    - curl -s -X POST -F token=bbd2dcdb2bcac6cda10e83d340be2f -F ref=master https://gitlab.timmertech.nl/api/v3/projects/4/trigger/builds > /dev/null